.errorBox {
    background-color: rgb(193 85 77 / 17%);
    padding: 1.5rem 1rem;
    border-radius: 5px;
    color: rgb(193, 85, 77);
    font-family: "Source Code Pro", monospace;
    margin-top: 1rem;
}