.imagePreview {
    border-color:  rgb(8 126 164);
    background-color: rgb(52,58,79);
    font-weight: 500;
    color: #ffffff;
    border-radius: 1rem;
}
.image {
    max-width: 100%;
}

.downloadLink {
    text-decoration: none;
}