.imagePreview {
    border-color:  rgb(8 126 164);
    background-color: rgb(52,58,79);
    font-weight: 500;
    color: #ffffff;
    border-radius: 1rem;
    margin-top: 1rem;
}
.image {
    max-width: 100%;
    margin-top: 0.5rem auto 0;
}

.property {
    font-weight: 700;
}

.downloadButton {
    font-weight: 700;
    background: rgb(8 126 164);
    transition: background .25s;

    &:hover {
        background: rgb(5, 99, 130);
    }
}