.fileInput {
    height: 16rem;
    width: 28rem;
    max-width: 100%;
    text-align: center;
    position: relative;
    border-width: 2px;
    border-radius: 1rem;
    border-style: dashed;
    border-color:  rgb(8 126 164);
    background-color: rgb(52,58,79);
    font-weight: 500;
    color: #ffffff;
    box-sizing: border-box;
    transition: background-color .2s;

    &_active {
        background-color: rgb(8 126 164);
    }
}

.inputLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.errorMessage {
    margin-top: 5px;
    color: rgb(249, 131, 131)
}